<!DOCTYPE html>
<html>
<head>
  <title>Data Use Policy</title>
  <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">
  <link href="/static/styles/bulma.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Voltaire" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Voltaire" rel="stylesheet">
</head>
<body>
  <div class="section">
    <div class="container has-text-light">
      <h1 class="title is-1 has-text-light">Data Use Policy</h1>
      <p>When you enter your phone number, the Call HQ app uses that number to connect you to headquarters.</p><br>
      <p>The app uses Twilio software to route the call. Your number is logged by Twilio and visible to Coworker.org. We only use the list of phone numbers to get a count of how many people use our call-in tool. Once this day of action is over, we'll delete your number from our Twilio logs. We'll never sell your number to a third party or use your number to contact you again.</p><br>
      <p>If you want to subscribe to our mailing list, you can do so by emailing <a href="mailto:info@coworker.org">info@coworker.org</a> or signing a petition at <a href="https://home.coworker.org/">Coworker.org</a>.</p>
    </div>
  </div>
</body>
</html>
